<div id=destinationpage class="w-100 m-0">
  <div class="col-sm-12 d-flex justify-content-center ">
    <h1 id="title" class= "px-3 py-1 mb-0">Destinations:</h1>
  </div>
  <div class="slider-container my-0">
    <% @trips.map do |trip| %>
      <div class="slide">
        <div class="card d-flex flex-column align-items-center text-center " style="width: 18rem;">
          <%= image_tag(trip.image_url, width: "300px", height: "300px") %>
          <div class="card-body">
            <div class = "details">
              <h5> <%= trip.name%> </h5>
              <p>Price : Rs <%= trip.price %> </p>
            </div>
          </div>
          <div class="link card-body mb-1">
            <%= link_to 'More Details', trip_path(trip.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class ="indicator d-flex flex-column align-items-center text-center mt-3 mb-0">
    <i class="fas fa-hand-pointer"></i>
    <i class="fas fa-arrows-alt-h"></i>
    <p>Swipe to view </p>
  </div>
</div>

