<!--      <%# <div id="day">
        <% @trips.map do |trip| %>
          <% if trip.choice == "day" %>
          <%= trip.name %>
          <% end %>
        <% end %>
      </div>
      <div id="night">
        <% @trips.map do |trip| %>
          <% if trip.choice == "day" %>
          <%= trip.name %>
          <% end %>
        <% end %>
      </div> -->

<%= render 'trip_choice', locals: { choice: 'night' } %>

      <%= link_to 'label', { controller: 'trips', action: 'trip_choice', choice: 'day' } %>
