#bookingtitle {
    font-family: 'Bebas Neue', cursive;
    color : black;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px #865A3F;
    opacity: 0.65;
}

.booking {
    margin: 20px;
    border-radius: 25px;
    font-family: 'roboto';
    font-size: 16px;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.card-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    margin: 6px;
}
