// Specific CSS for your home-page
body {
  width: 100vw;
  height: 100vh;
  background-color: #F2EBE7;
  background-position: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.call-to-action {
  text-decoration: none;
  border: none;
  border-radius: 25px;
  background-color: #CEC5C5;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  opacity: 0.85;
  box-shadow: 1px 1px 3px #534e4e;
  font-family: 'Rhodium Libre', serif;
  color: black;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: #7a7070;
  }
}

.home-sections {
    height: 25vh;
}
  
p {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color:  #534e4e;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 45vh;
  padding-top: 35px;
  padding-right: 44px;
}
