// Specific CSS for your home-page
body {
  background-image: linear-gradient(#c9ad7f, white);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.call-to-action {
  text-decoration: none;
  border: none;
  border-radius: 25px;
  background-color: #b5926d;
  padding: 15px 30px;
  text-align: center;
  margin-top: 40px;
  opacity: 0.85;
  box-shadow: 1px 1px 3px #534e4e;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-weight: 400;

  a {
    text-decoration: none;
  }

  &:hover {
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 400;
  }
}
  
.banner {
  margin: 30px;
  margin-top: 4rem;
  margin-bottom: 40px;
  border-radius: 25px;

  img {
    margin: 8px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px #534e4e;
  }
}

.banner-title {
font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color:  #513627;
  text-align: center;
}

.homepage {
  margin-bottom: 100px;
}
