// Specific CSS for your home-page
body {
  width: 100vw;
  height: 100vh;
  background-color: #F2EBE7;
  background-image: url("https://images.unsplash.com/photo-1620055374842-145f66ec4652?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&h=812&q=80");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
