// Import page-specific CSS files here.
@import "home";

.iconbuttons {
  display: inline-flex;
  margin: 2rem;
}

.banner img{
   object-fit: cover;
}

.banner-title {
  margin: 5px;
}

  .session-field {
    background-color: #99939041;
    border-radius: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #6d767e;
    font-weight: bold;
  }

  .destination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    object-fit: contain;
    box-shadow: 2px 2px 2px #9aa2a8;
    margin: 0.75rem;
  
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
