details p {
    font-size: medium;
}

.info-card{
 //background: linear-gradient( rgba(238, 230, 216, 0.01) 21.67%, rgba(247, 240, 229, 0.91) 100%);
 border: 2px solid rgb(155, 127, 84);
 border-radius: 25px;
 backdrop-filter: blur(16px) saturate(180%);
 -webkit-backdrop-filter: blur(16px) saturate(180%);
 background-color:linear-gradient( rgb(223, 181, 143) 21.67%,rgba(247, 240, 229, 0.91) 100% );
 border: 1px solid rgba(209, 213, 219, 0.3);
 font-family: 'Roboto';
 font-size: 18px;
 font-weight: 500;
 color:  #2b1b13;
 text-align: center;
 letter-spacing: 1px;
 padding: 5px;
}

.stop-card{
    background-color: white !important;
    border-radius: 25px;
   margin: 10px;
}

.bookingcards {
    border-radius: 25px;
    margin-bottom: 100px;
}

.card-header {
    border-radius: 25px 25px 0 0 !important;
}

