#destinationpage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 1.7;
}

.slider-container {
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3 ease-out;
    cursor: grab;
}

.slide {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
}

.slide img {
    max-width: 100%;
    max-height: 60%;
    transition: transform 0.3 ease-in-out;
}
