#destinationpage {
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 100vh;
    width: 100%;
    line-height: 1.7;
    overflow: hidden;
}

.slider-container {
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3 ease-out;
    cursor: grab;
}

.slide {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    user-select: none;
}

.card {
    border-radius: 25px;
}

.card-body {
    margin: 0;
}
.slide img {
    margin: 8px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px #534e4e;
    max-width: 95%;
    max-height: 80%;
    transition: transform 0.3 ease-in-out;
    object-fit: cover;
}

.indicator {
    opacity: 0.55;
}

.details {
    font-size: larger;
    font-weight: 500;
}

.link {
    margin: 0;
    padding: 0;
}

.name {
    font-weight: 600;
}

.date {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

