#title {
    font-family: 'Bebas Neue', cursive;
    color : black;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px #865A3F;
    opacity: 0.85;
}

.category{
    margin: 30px;
    margin-bottom: 25px;
    border-radius: 25px;

    img {
        border-radius: 25px;
        box-shadow: 1px 1px 2px #534e4e;
        margin: 5px;
    }
  }
  
  a {
  font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color:  #513627;
    text-align: center;
    letter-spacing: 1px;

    &:hover {
        transition: 0.5s;
        text-decoration: none;
        color: rgb(137, 113, 84);
        font-size: 22px;
        font-weight: 400;
      }
  }