<% if !@booking.trip.stop_2.nil? %>
    <p><%= @booking.trip.stop_2 %></p>
    <%= image_tag(@booking.trip.stop_2_img_url, height: '200px', width: '200px', style: "border-radius: 20px;") %>
<% end %>
