  <div class="navbar d-flex justify-content-around fixed-bottom">
      <%= link_to "/" do %>
      <i class="fas fa-home home-icon"></i>
      <% end %> 
      <%= link_to "Login", new_user_session_path %>
      <%= link_to :back do %>
      <i class="fas fa-chevron-left return-icon"></i> 
      <% end %>
  </div>
