<div class="homepage">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center w-100">

      <div class="col-sm-12 d-flex justify-content-center">
        <div class="card banner" class="col-sm-12 d-flex justify-content-center">
            <%= image_tag("https://res.cloudinary.com/trip-buddy/image/upload/v1629281946/trip%20buddy/illustration/estee-janssens-0r3GWjxTr3g-unsplash_bbokdf.jpg", height: "400px") %>
          <div class="card-body">
            <h5 class="banner-title">Plan your Outings, in only a few Seconds</h5>
          </div>
        </div>
      </div>


      <div class="col-sm-12 d-flex justify-content-center">
        <div>
          <%= link_to 'Start Your Adventure', trips_path, class: "call-to-action" %>
        </div>
      </div>
    </div>
  </div>
</div>