.mapboxgl-popup {
    max-width: 200px;
    border-radius: 20px;

  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px  !important;
    padding: 1  !important;
  }
  .btn-brown{
    background-color: #442d0f;
    color: white;
    font-size: 18px;
    height: 55px;
    border-radius: 15px;
  }