.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .btn-brown {
    background-color: rgb(94, 71, 41);
    color:white;
    border-radius: 10px;
  }