// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "pages/trip_choice";
@import "pages/home";
@import "pages/trip_destination";
@import "pages/bookingindex"
@import "pages/show";
